h1 {
    background-image: url('../images/pattern.jpeg');
    color: khaki;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}